body{
    background: url(images/elepant.jpeg);
}
h1{
    color: rgb(27, 172, 172);
    text-align: center;
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-size: 4em;
}
ul{
    color: rgb(201, 86, 86);
}
ol{
    color: rgb(206, 85, 85);
}